@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
li {
  list-style: none;
  margin-top: 20px;
}
.card-container {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.card-image {
  width: 400px;

}
.news-details {
  margin: 10px;
}
.news-author {
  margin-right: 40px;
}
.NavLoginRegister {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;

}
.NavLoginRegister > * {
  flex: 1;
}
.sign-up-btn {
  margin-left: 20px;
}
.Nav-user-logout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.username {
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  font-size: 16px;
  font-weight: 600;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
}
.github-logo {
  width: 50px;
}
